body
{
  background-color: aqua;
}

ul
{
background-color: darkviolet;
color: white;
list-style-type: none;
}

h1
{
    font-family:monospace;
    color:darkorange;
}

hr{
    height: 3px;
    background-color: blue;
    border: none;
}